@using InTN.Web.Models.Common.Modals
@using InTN.ProductCategories.Dto

@model ProductCategoryDto

@{
    Layout = null;
}

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProductCategory")))

<form name="ProductCategoryEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("Name")</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="Name" value="@Model.Name" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">@L("ParentCategory")</label>
            <div class="col-md-9">
                <select class="form-control" name="ParentId">
                    <option value="">@L("None")</option>
                    @foreach (var category in ViewBag.ParentCategories as List<ProductCategoryDto>)
                    {
                        @if (category.Id == Model.ParentId)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }

                    }
                </select>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/ProductCategories/_EditModal.js" asp-append-version="true"></script>