@using InTN.Web.Startup

@using InTN.Customers.Dto;

@{
    ViewBag.Title = L("Customers");
    ViewBag.CurrentPageName = PageNames.Customers;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Customers/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Customers/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Customer")</h1>
            </div>
             
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                @await Html.PartialAsync("~/Views/Customers/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="CustomersTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("STT")</th>
                                        <th>@L("Name")</th>
                                        <th>@L("Phone")</th>
                                        <th>@L("Email")</th>
                                        <th>@L("Address")</th>
                                        <th>@L("TotalDebt")</th>
                                        <th>@L("CreditLimit")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Customers/_CreateModal.cshtml", new CustomerDto() { }) ;

<div class="modal fade" id="CustomerEditModal" tabindex="-1" role="dialog" aria-labelledby="CustomerEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
 