@using InTN
@using InTN.Web.Models.Common.Modals
@using InTN.Web.Models.Orders;
@model CreateOrderModel

<div class="row order-item">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-danger btn-sm delete-item-button">
            X
        </button>
    </div>
    <div class="col-12 row">
        <div class="control-item col-md-4">
            <label>@L("ServiceProductName")</label>
            <select class="select2 select-product-id form-control" name="ProductId" style="width: 100%;"></select>
        </div>
        <div class="property-list col-8 row">
        </div>
        <div class="control-item col-md-2">
            <label>@L("Price")</label>
            <input type="text" class="form-control unit-price text-right unit-price mask-number" name="Price" value="0">
        </div>
        <div class="control-item col-md-2">
            <label>@L("Quantity")</label>
            <input type="text" value="1" class="form-control quantity text-right mask-number" name="Quantity">
        </div>
        <div class="control-item col-md-2">
            <label>@L("TotalProductPrice")</label>
            <input type="text" value="0" class="form-control total-product-price text-right mask-number" name="TotalProductPrice" readonly>
        </div>
    </div>

    <!-- Upload-->
    <div class="col-12 row">
        <div class="control-item col-md-2">
            <label>@L("Attachment")</label>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input check-file-type" name="SelectFileType" type="radio" data-value="@((int)FileType.Link)" checked>
                    <label class="form-check-label">@L("FileUrl")</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input check-file-type" name="SelectFileType" type="radio" data-value="@((int)FileType.Upload)">
                    <label class="form-check-label">@L("UploadFile")</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-10 group-upload-file" style="display: none;">
            @*  <input type="hidden" name="FileId" /> 
                                            <input type="file" class="form-control file-upload"  /> *@
            <div class="dropzone">
                <div class="dz-message">
                    <span>@L("DragAndDropFilesHereOrClickToUpload")</span>
                </div>
            </div>

        </div>
        <div class="form-group col-md-10 group-file-url">
            <input type="text" class="form-control" name="FileUrl" placeholder="@L("EnterFileUrl")" />
        </div>

        <input type="hidden" name="FileType" value="@((int) FileType.Link)" />
        <input type="hidden" name="FileId" />
    </div>


    <div class="col-12 row note-list">
        <div class="col-md-4">
            <label>@L("OtherNote")</label>
            <input class=" select-note-3 form-control" name="OtherNote" style="width: 100%;" placeholder="@L("EnterNote")" />
        </div>
    </div>
    <div class="col-12 text-right">
        <button type="button" class="btn btn-success btn-sm clone-item-button">
            <i class="fas fa-clone"></i> @L("Duplicate")
        </button>
    </div>
</div>
