@using InTN
@using InTN.Web.Models.Common.Modals
@using InTN.Web.Models.Orders;
@model CreateOrderModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Orders/Create.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Orders/Create.min.js" asp-append-version="true"></script>
    </environment>
}

@section styles {
    <style>
        .select2-selection--single {
            height: 38px !important;
        }

        .select2-selection__arrow {
            top: 5px !important;
        }

        .order-item {
            border-width: 1px;
            border-style: dotted;
            border-radius: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-color: #007bff40;
            margin-bottom: 10px;
        }

        .control-item {
            margin-bottom: 20px;
        }

    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Pages_CreateOrder"): <strong class="text-primary">@Model.CreateOrderDto.OrderCode</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="" id="modal-create-order">
                    <form name="form-create-order" role="form" class="form-horizontal" method="post" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()


                        <input type="hidden" name="OrderCode" value="@Model.CreateOrderDto.OrderCode" />

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@L("CustomerInformation")</h3>
                            </div>
                            <div class="card-body">
                                <div class="row ">
                                    <input type="hidden" name="NewCustomer" value="false" />
                                    <div class="control-item col-md-3 select-customer-group">
                                        <label>@L("Customer")</label>
                                        <select class="select2 select-customer-id form-control" name="CustomerId" style="width: 100%;"></select>
                                        <input type="hidden" name="CustomerName" />
                                    </div>
                                    <div class="control-item col-md-2">
                                        <label>@L("Phone")</label>
                                        <input type="text" class="form-control" name="CustomerPhone" placeholder="@L("EnterPhone")" required>
                                    </div>
                                    <div class="control-item col-md-1">
                                        <label>@L("Gender")</label>
                                        <select name="CustomerGender" class="form-control">
                                            <option value="0"></option>
                                            <option value="1">@L("Male") </option>
                                            <option value="2"> @L("Female") </option>
                                        </select>
                                    </div>
                                    <div class="control-item col-md-2">
                                        <label>@L("CustomerType")</label>
                                        <select name="CustomerType" class="form-control">
                                            <option value="@((int) CustomerType.Company)"> @(CustomerType.Company.GetDescription()) </option>
                                            <option value="@((int) CustomerType.Personal)"> @(CustomerType.Personal.GetDescription()) </option>
                                        </select>
                                    </div>
                                    <div class="control-item col-md-2">
                                        <label>@L("TotalDebt")</label>
                                        <input type="text" class="form-control text-right" name="TotalDebt" value="0">
                                    </div>
                                    <div class="col-md-2">
                                        <label>@L("CreditLimit")</label>
                                        <input type="text" class="form-control text-right" name="CreditLimit" value="0">
                                    </div>

                                    <div class="col-md-2">
                                        <label>@L("TotalOrderAmount")</label>
                                        <input type="text" class="form-control text-right" name="TotalOrderAmount" value="0" readonly>
                                    </div>
                                    <div class="control-item col-md-3">
                                        <label>@L("Email")</label>
                                        <input type="text" class="form-control" name="CustomerEmail" placeholder="@L("EnterEmail")">
                                    </div>
                                    <div class="control-item col-md-6">
                                        <label>@L("CustomerAddress")</label>
                                        <input type="text" class="form-control" name="CustomerAddress" placeholder="@L("EnterAddress")">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Thông tin chi tiết đơn hàng -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@L("OrderDetails")</h3>
                                <button type="button" class="btn btn-success float-right btn-sm btn-add-order-item">
                                    <i class="fa fa-plus"></i> @L("AddItem")
                                </button>
                            </div>
                            <div class="card-body" id="order-detail-list">
                                <div class="row order-item">
                                    <div class="col-12 text-right">
                                        <button type="button" class="btn btn-danger btn-sm delete-item-button">
                                            X
                                        </button>
                                    </div>
                                    <div class="col-12 row">
                                        <div class="control-item col-md-4">
                                            <label>@L("ServiceProductName")</label>
                                            <select class="select2 select-product-id form-control" name="ProductId" style="width: 100%;"></select>
                                        </div>
                                        <div class="property-list col-8 row">
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("Price")</label>
                                            <input type="text" class="form-control unit-price text-right unit-price mask-number" name="Price" value="0">
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("Quantity")</label>
                                            <input type="text" value="1" class="form-control quantity text-right mask-number" name="Quantity">
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("TotalProductPrice")</label>
                                            <input type="text" value="0" class="form-control total-product-price text-right mask-number" name="TotalProductPrice" readonly>
                                        </div>
                                    </div>

                                    <!-- Upload-->
                                    <div class="col-12 row">
                                        <div class="control-item col-md-2">
                                            <label>@L("Attachment")</label>
                                            <div class="form-group">

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="FileType" data-value="url" checked>
                                                    <label class="form-check-label">@L("FileUrl")</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="FileType" data-value="upload">
                                                    <label class="form-check-label">@L("UploadFile")</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-10 group-upload-file" style="display: none;">
                                            @*  <input type="hidden" name="FileId" /> 
                                            <input type="file" class="form-control file-upload"  /> *@
                                            <div class="dropzone">
                                                <div class="dz-message">
                                                    <span>@L("DragAndDropFilesHereOrClickToUpload")</span>
                                                </div>
                                            </div>
                                            <input type="hidden" name="FileId" />
                                        </div>
                                        <div class="form-group col-md-10 group-file-url">
                                            <input type="text" class="form-control" name="FileUrl" placeholder="@L("EnterFileUrl")" />
                                        </div>
                                    </div>


                                    <div class="col-12 row note-list">
                                        <div class="col-md-4">
                                            <label>@L("OtherNote")</label>
                                            <input class=" select-note-3 form-control" name="OtherNote" style="width: 100%;" placeholder="@L("EnterNote")" />
                                        </div>
                                    </div>
                                    <div class="col-12 text-right">
                                        <button type="button" class="btn btn-success btn-sm clone-item-button">
                                            <i class="fas fa-clone"></i> @L("Duplicate")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tổng kết thông tin về chi phí đơn hàng -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@L("OrderSummary")</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <!--Tổng tiền sản phẩm (chi tiết đơn)-->
                                    <div class="col-md-2">
                                        <label>@L("TotalProductAmount")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="TotalProductAmount" readonly>
                                    </div>

                                    <!--Tổng tiền đặt cọc-->
                                    <div class="col-md-2">
                                        <label>@L("TotalDeposit")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="TotalDeposit">
                                    </div>
                                    <!--Phí vận chuyển-->
                                    <div class="col-md-2">
                                        <label>@L("DeliveryFee")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="DeliveryFee">
                                    </div>
                                    <!--Thuế VAT-->
                                    <div class="col-md-2">
                                        <label>@L("VatRate")%</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="VatRate">
                                    </div>

                                    <!--Tiền thuế VAT-->
                                    <div class="col-md-2">
                                        <label>@L("VATAmount")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="VatAmount">
                                    </div>
                                    <!--Tổng tiền chiếu khấu/ giảm giá-->
                                    <div class="col-md-2">
                                        <label>@L("DiscountAmount")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="DiscountAmount">
                                    </div>

                                    <!--Tổng tiền đơn hàng-->
                                    <div class="col-md-2">
                                        <label>@L("TotalAmount")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="TotalAmount" readonly>
                                    </div>

                                    <!--Tổng số tiền khách phải trả-->

                                    <div class="col-md-2">
                                        <label>@L("TotalCustomerPay")</label>
                                        <input type="text" class="form-control text-right mask-number" value="0" name="TotalCustomerPay" readonly>
                                    </div>



                                </div>
                                <div class="row">

                                    <div class="col-md-2">
                                        <label>@L("ShippingMethod")</label>
                                        <select class="form-control">
                                            <option value="@((int)@ShippingMethod.CompanyDelivery)">@ShippingMethod.CompanyDelivery.GetDescription()</option>
                                            <option value="@((int)@ShippingMethod.CustomerPickup)">@ShippingMethod.CustomerPickup.GetDescription()</option>
                                            <option value="@((int)@ShippingMethod.ServiceDelivery)" selected>@ShippingMethod.ServiceDelivery.GetDescription()</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>@L("OrderStatus")</label>
                                        <select class="form-control">
                                            <option value="@((int)@OrderStatus.ReceivedRequest)" selected>@OrderStatus.ReceivedRequest.GetDescription()</option>
                                            <option value="@((int)@OrderStatus.New)">@OrderStatus.New.GetDescription()</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>@L("ExpectedDeliveryDate")</label>
                                        <input class="form-control select-date" name="ExpectedDeliveryDate">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3">

                                                <label>@L("RequireDesign")</label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="IsRequireDesign">
                                                    <label class="form-check-label" for="IsRequireDesign">@L("YES")</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>@L("RequireTestSample")</label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="IsRequireTestSample">
                                                    <label class="form-check-label" for="IsRequireTestSample">@L("YES")</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>@L("ExportInvoice")</label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="IsExportInvoice">
                                                    <label class="form-check-label" for="IsExportInvoice">@L("YES")</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>@L("StoreSample")</label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="IsStoreSample">
                                                    <label class="form-check-label" for="IsStoreSample">@L("YES")</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>@L("OtherRequirements")</label>
                                        <textarea class="form-control" name="OtherRequirements" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default close-button" data-dismiss="modal">@L("Cancel")</button>
                            <button type="button" class="btn btn-primary save-button"><i class="nav-icon fas fa-save"></i> @L("Save")</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>