@using InTN
@using InTN.Web.Models.Common.Modals
@using InTN.Web.Models.Orders;
@model CreateOrderModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Orders/Create.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Orders/Create.min.js" asp-append-version="true"></script>
    </environment>
}

@section styles {
    <style>
        .select2-selection--single {
            height: 38px !important;
        }

        .select2-selection__arrow {
            top: 5px !important;
        }

        .order-item {
            border-width: 1px;
            border-style: dotted;
            border-radius: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-color: #007bff40;
            margin-bottom: 10px;
        }

        .control-item {
            margin-bottom: 20px;
        }

    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Pages_CreateOrder"): <strong class="text-primary">@Model.CreateOrderDto.OrderCode</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="" id="modal-create-order">
                    <form name="form-create-order" role="form" class="form-horizontal">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@L("CustomerInformation")</h3>
                            </div>
                            <div class="card-body">
                                <div class="row ">
                                    <div class="control-item col-md-3">
                                        <label>@L("CustomerType")</label>
                                        <select class="form-control select-customer" name="CustomerType">
                                            <option value="1">@L("CasualCustomer")</option>
                                            <option value="2">@L("LoyalCustomer")</option>
                                        </select>
                                    </div>
                                    <div class="control-item col-md-3 select-customer-group " >
                                        <label>@L("Customer")</label>
                                        <select class="select2 select-customer-id form-control" name="CustomerId" style="width: 100%;"></select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="control-item col-md-3">
                                        <label>@L("CustomerName")</label>
                                        <input type="text" class="form-control" name="CustomerName" required maxlength="255">
                                    </div>
                                    <div class="control-item col-md-3">
                                        <label>@L("Phone")</label>
                                        <input type="text" class="form-control" name="CustomerPhone" required>
                                    </div>
                                    <div class="control-item col-md-3">
                                        <label>@L("TotalDebt")</label>
                                        <input type="text" class="form-control text-right" name="TotalDebt" readonly>
                                    </div>
                                    <div class="col-md-3">
                                        <label>@L("CreditLimit")</label>
                                        <input type="text" class="form-control text-right" name="CreditLimit" readonly>
                                    </div>
                                    <div class="control-item col-md-3">
                                        <label>@L("Email")</label>
                                        <input type="text" class="form-control" name="CustomerEmail">
                                    </div>
                                    <div class="control-item col-md-6">
                                        <label>@L("CustomerAddress")</label>
                                        <input type="text" class="form-control" name="CustomerAddress" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Thông tin chi tiết đơn hàng -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@L("OrderDetails")</h3>
                                <button type="button" class="btn btn-success float-right btn-sm btn-add-order-item">
                                    <i class="fa fa-plus"></i> @L("AddItem")
                                </button>
                            </div>
                            <div class="card-body" id="order-detail-list">
                                <div class="row order-item">
                                    <div class="col-12 text-right">
                                        <button type="button" class="btn btn-danger btn-sm delete-item-button">
                                            X
                                        </button>
                                    </div>
                                    <div class="col-12 row">
                                        <div class="control-item col-md-4">
                                            <label>@L("ServiceProductName")</label>
                                            <select class="select2 select-product-id form-control" name="ProductId" style="width: 100%;"></select>
                                        </div>
                                        <div class="property-list col-8 row">
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("Price")</label>
                                            <input type="number" class="form-control unit-price text-right unit-price" name="Price" value="0" readonly>
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("Quantity")</label>
                                            <input type="number" min="1" value="1" step="1" class="form-control quantity text-right" name="Quantity">
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("TotalProductPrice")</label>
                                            <input type="number" min="1" value="1" step="1" class="form-control total-product-price text-right" name="TotalProductPrice" readonly>
                                        </div>
                                    </div>
                                     
                                    <div class="col-12 row">
                                        <div class="col-md-2">
                                            <label>@L("Note1")</label>
                                            <select class=" select-note-1 form-control" name="Note1" data-next="Note2" style="width: 100%;"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>@L("Note2")</label>
                                            <select class=" select-note-2 form-control" name="Note2" data-next="Note3" style="width: 100%;"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>@L("Note3")</label>
                                            <select class=" select-note-3 form-control" name="Note3" style="width: 100%;"></select>
                                        </div>

                                        <div class="col-md-4">
                                            <label>@L("OtherNote")</label>
                                            <input class=" select-note-3 form-control" name="OtherNote" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <div class="col-12 text-right">
                                        <button type="button" class="btn btn-success btn-sm clone-item-button">
                                            <i class="fas fa-clone"></i> @L("Duplicate")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tổng kết thông tin về chi phí đơn hàng -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@L("OrderSummary")</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>@L("TotalAmount")</label>
                                        <input type="number" class="form-control" name="TotalAmount" readonly>
                                    </div>

                                    <div class="col-md-3">
                                        <label>@L("TotalDeposit")</label>
                                        <input type="number" class="form-control" name="TotalDeposit">
                                    </div>
                                    <div class="col-md-3">
                                        <label>@L("DeliveryFee")</label>
                                        <input type="number" class="form-control" name="DeliveryFee">
                                    </div>
                                    <div class="col-md-3">
                                        <label>@L("VatRate")</label>
                                        <input type="number" class="form-control" name="VatRate">
                                    </div>
                                    <div class="col-md-3">
                                        <label>@L("DiscountAmount")</label>
                                        <input type="number" class="form-control" name="DiscountAmount">
                                    </div>
                                    <div class="col-md-3">
                                        <label>@L("ExpectedDeliveryDate")</label>
                                        <input type="date" class="form-control" name="ExpectedDeliveryDate">
                                    </div>
                                    <div class="col-md-6">
                                        <label>@L("OtherRequirements")</label>
                                        <textarea class="form-control" name="OtherRequirements" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default close-button" data-dismiss="modal">@L("Cancel")</button>
                            <button type="button" class="btn btn-primary save-button"><i class="nav-icon fas fa-save"></i> @L("Save")</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>