@using InTN
@using InTN.Web.Models.Common.Modals
@using InTN.Orders.Dto

@model OrderDesignUploadDto
@{

}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Orders/CreateDesign.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Orders/CreateDesign.min.js" asp-append-version="true"></script>
    </environment>

}

@section styles {
    <style>
        .select2-selection--single {
            height: 38px !important;
        }

        .select2-selection__arrow {
            top: 5px !important;
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Pages_CreateDesign"): <strong class="text-primary">@Model.OrderCode</strong></h1>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" id="modal-create-order">
                        <form name="form-create-order" role="form" class="form-horizontal">

                            @Html.AntiForgeryToken()

                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">@L("UploadFileDesign")</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row ">
                                        <input type="hidden" name="OrderCode" value="@Model.OrderCode" />
                                        <input type="hidden" name="OrderId" value="@Model.OrderId" />
                                        <input type="hidden" name="Id" value="@Model.OrderId" />

                                        <input type="hidden" name="AttachmentType" value="@((int)OrderAttachmentType.DesignSample)" />
                                        <!-- Full Name -->

                                        <div class="control-item col-md-12">
                                            <label>@L("SelectFileDesign")</label>
                                            <div class="dropzone">
                                                <div class="dz-message">
                                                    <span>@L("DragAndDropFilesHereOrClickToUpload")</span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="hidden-file-ids" name="FileIds" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default close-button" data-dismiss="modal">@L("Cancel")</button>

                                @if (Model.NextSteps != null && Model.NextSteps.Count > 0)
                                {
                                    foreach (var step in Model.NextSteps)
                                    {
                                        <a href="@Url.Action("Process", "Orders", new {id = Model.OrderId, nextStepId = step.Id})" type="button" class="btn btn-primary save-button btn-change-status" data-toggle="tooltip" data-status="@step.OrderStatus" data-process-id="@step.Id" title="@step.Action">@step.Action</a>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
