@using InTN.Web.Models.Orders
@using InTN
@using InTN.Commons
@using Newtonsoft.Json
@using InTN.ProductProperties.Dto
@using InTN.ProductPriceCombinations.Dto

@model InTN.Web.Models.Orders.OrderDetailModel

@section styles {
    <style>
        .select2-selection--single {
            height: 38px !important;
        }

        .select2-selection__arrow {
            top: 5px !important;
        }

        .order-item {
            border-width: 1px;
            border-style: dotted;
            border-radius: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-color: #007bff40;
            margin-bottom: 10px;
        }

        .control-item {
            margin-bottom: 20px;
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("OrderDetails")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@L("CustomerInformation")</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="control-item col-md-2">
                                <label>@L("CustomerName")</label>
                                <p>@Model.OrderDto.CustomerName</p>
                            </div>
                            <div class="control-item col-md-2">
                                <label>@L("Phone")</label>
                                <p>@Model.OrderDto.CustomerPhone</p>
                            </div>
                         @*    <div class="control-item col-md-2">
                                <label>@L("TotalDebt")</label>
                                <p>@Model.OrderDto.CustomerTotalDebt?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="control-item col-md-2">
                                <label>@L("CreditLimit")</label>
                                <p>@Model.OrderDto.CreditLimit?.ToString("N0") VNĐ</p>
                            </div> *@
                            <div class="control-item col-md-6">
                                <label>@L("CustomerAddress")</label>
                                <p>@Model.OrderDto.CustomerAddress</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thông tin chi tiết đơn hàng -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@L("OrderDetails")</h3>
                    </div>
                    <div class="card-body">
                        @if (Model.OrderDetails != null && Model.OrderDetails.Count > 0)
                        {
                            @foreach (var detail in Model.OrderDetails)
                            {
                                <div class="row order-item">
                                    <div class="col-12 row">
                                        <div class="control-item col-md-4">
                                            <label>@L("ServiceProductName")</label>
                                            <p>@detail.ProductName</p>
                                        </div>
                                        <div class="property-list col-8 row">
                                            @if (!string.IsNullOrEmpty(detail.Properties))
                                            {
                                                var properties = JsonConvert.DeserializeObject<List<PropertyWithSelectedValueDto>>(detail.Properties);
                                                foreach (var property in properties)
                                                {
                                                    <div class="control-item col-md-4">
                                                        <label>@property.PropertyName</label>
                                                        <p>@property.Value</p>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("Price")</label>
                                            <p>@detail.UnitPrice.ToString("N0") VNĐ</p>
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("Quantity")</label>
                                            <p>@detail.Quantity</p>
                                        </div>
                                        <div class="control-item col-md-2">
                                            <label>@L("TotalProductPrice")</label>
                                            <p>@detail.TotalProductPrice.ToString("N0") VNĐ</p>
                                        </div>
                                    </div>

                                    <!-- Đính kèm -->
                                    <div class="col-12 row">
                                        <div class="control-item col-md-2">
                                            <label>@L("Attachment")</label>
                                            @if (detail.FileType == 1)
                                            {
                                                <p><a href="@Url.Action("DownloadAttachment", "Orders", new { fileId = detail.FileId, fileName = detail.FileUrl })" target="_blank">@L("DownloadFile")</a></p>
                                            }
                                            else
                                            {
                                                <p><a href="@detail.FileUrl" target="_blank">@detail.FileUrl</a></p>
                                            }
                                        </div>
                                    </div>

                                    <!-- Ghi chú -->
                                    <div class="col-12 row note-list">
                                        <div class="col-md-4">
                                            <label>@L("OtherNote")</label>
                                            <p>@detail.Note</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>@L("NoOrderDetails")</p>
                        }
                    </div>
                </div>

                <!-- Tổng kết thông tin về chi phí đơn hàng -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@L("OrderSummary")</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>@L("TotalProductAmount")</label>
                                <p>@Model.OrderDto.TotalProductAmount?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("TotalDeposit")</label>
                                <p>@Model.OrderDto.TotalDeposit?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("DeliveryFee")</label>
                                <p>@Model.OrderDto.DeliveryFee?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("VatRate")%</label>
                                <p>@Model.OrderDto.VatRate?.ToString("N0")%</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("VATAmount")</label>
                                <p>@Model.OrderDto.VatAmount?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("DiscountAmount")</label>
                                <p>@Model.OrderDto.DiscountAmount?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("TotalAmount")</label>
                                <p>@Model.OrderDto.TotalAmount?.ToString("N0") VNĐ</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("TotalCustomerPay")</label>
                                <p>@Model.OrderDto.TotalCustomerPay?.ToString("N0") VNĐ</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>@L("ShippingMethod")</label>
                                <p>@(((ShippingMethod)Model.OrderDto.DeliveryMethod).GetDescription())</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("OrderStatus")</label>
                                <p>@(((OrderStatus)Model.OrderDto.Status).GetDescription())</p>
                            </div>
                            <div class="col-md-2">
                                <label>@L("ExpectedDeliveryDate")</label>
                                <p>@Model.OrderDto.ExpectedDeliveryDate?.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="col-md-6">
                                <label>@L("OtherRequirements")</label>
                                <p>@Model.OrderDto.OtherRequirements</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>